{% extends 'bash.html' %}
{% block main %}


    <script src="static/assets/js/jquery-3.3.1.min.js"></script>
    <script>
        $('#drop').change(function () {
        if ($('#drop').is(":checked")) {
        $('body').css('overflow', 'hidden');
        } else {
        $('body').css('overflow', 'auto');
        }
        });
        </script>
</section>
<!-- Headers-4 block -->
<!-- inner banner -->
<section class="w3l-inner-banner-main">
    <div class="about-inner">
        <div class="wrapper">
            
            <ul class="breadcrumbs-custom-path">
                <h3>About</h3>
                <li><a href="index">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">About</li>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->
<!---728x90--->

<!-- Content-with-photo23 block -->
<section class="w3l-content-with-photo-23" id="about">
    <div id="cwp23-block">
        <div class="wrapper">
            <div class="d-grid cwp23-content">
                <div class="cwp23-img">
                    <img src="static/assets/images/e13.jpg" class="img-responsive" alt="" />
                </div>
                <div class="cwp23-text">
                    <div class="cwp23-title">
                        <p>At SpotLight, we make event experiences seamless! Whether you're an event-goer looking for the best concerts, parties, and shows or an artist wanting to showcase your talent, our platform is designed to connect you with the right audience.</p>
                    </div>
                    <br>
                    <div class="cwp23-text-cols">
                        <div class="column">
                            <b><h4>For Users</h4></b>
                            <p>Discover exciting events near you.</p>
                            <p>Book event passes effortlessly.</p>
                            <p>Get exclusive deals and early-bird offers.</p>
                        </div>
                        <div class="column">
                            <h4>For Artists</h4>
                            <p>Easily create and list your events.</p>
                            <p>Manage bookings and audience engagement.</p>
                            <p>Gain visibility and grow your fan base.</p>
                        </div>
<!--                        <div class="column">-->
<!--                            <h4>Strategy</h4>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  </p>-->
<!--                        </div>-->
<!--                        <div class="column">-->
<!--                            <h4>Machine</h4>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---728x90--->

<!-- Content-with-photo23 block -->
<section class="w3l-features-7">
	<!-- /features -->
		<div class="features" id="services">
		   <div class="wrapper">	
				<div class="section-title align-center text-center">
						<h3>We Offer</h3>
						   <h4>Exclusive Feature For You</h4>
						   <p class="sub-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio aspernatur fugiat minima blanditiis dignissimos.</p>
					   </div>
			<div class="fea-gd-vv">	
			   <div class="float-lt feature-gd">	
					 <div class="icon"> <span class="fa fa-glass" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="gallery-single">Drinks Bars</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
					 </div>
					 
				</div>	
				<div class="float-mid feature-gd">	
					 <div class="icon"> <span class="fa fa-cutlery" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="gallery-single">Restaurant</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
					 </div>
			 </div> 
				<div class="float-rt feature-gd">	
					 <div class="icon"> <span class="fa fa-microphone" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="gallery-single">Music & Party</a></h5>
						 <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
					 </div>
			 </div>	 
			 <div class="float-lt feature-gd">	
					 <div class="icon"> <span class="fa fa-handshake-o" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="gallery-single">Very Friendly</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
					 </div>
					 
				</div>	
				<div class="float-mid feature-gd">	
					 <div class="icon"> <span class="fa fa-cube" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="gallery-single">Gaming Zone</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
					 </div>
			 </div> 
				<div class="float-rt feature-gd">	
					 <div class="icon"> <span class="fa fa-clock-o" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="gallery-single">Justify Time</a>
						</h5>
						 <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
					 </div>
			 </div>		 				 
		  </div>  
		 </div>
	   </div>
   <!-- //features -->
</section>
<!-- specifications -->
<section class="w3l-specifications-9">
    <div class="main-w3" id="stats">
        <div class="wrapper">
           
            <div class="main-cont-wthree-fea">
                <div class="grids-speci1">
                        <span class="fa fa-coffee"></span>
                    <h3 class="title-spe">100m</h3>
                    <p>Cup of Coffee</p>
                </div>
                <div class="grids-speci1 midd-eff-spe">
                        <span class="fa fa-music"></span> 
                    <h3 class="title-spe">380k</h3>
                    <p> Video Upload</p>
                </div>
                <div class="grids-speci1 las-but">
                       <span class="fa fa-trophy"></span>
                    <h3 class="title-spe">90+</h3>
                    <p>Win Awards</p>
                </div>
                <div class="grids-speci1 las-t">
                        <span class="fa fa-users"></span>
                        <h3 class="title-spe">560+</h3>
                        <p>Dj Members</p>
                    </div>
            </div>
            
        </div>
    </div>
    <!-- //specifications -->
</section>
<!---728x90--->

<!-- teams-32-main -->
<section class="w3l-teams-32-main">
        <div class="teams-32">
            <div class="wrapper">
                    <div class="section-title align-center text-center">
                            <h3>Our Team </h3>
                            <h4>The Best DJS</h4>
                               <p class="sub-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio aspernatur fugiat minima blanditiis dignissimos.</p>
                           </div>
               <div class="d-grid grid-col-4 align-center main-contteam-32">
                    <div class="team-main-19">
                        <div class="column-19">
                            <a href="team-single"><img class="img-responsive" src="static/assets/images/te1.jpg"  alt=" "></a>
                        </div>
                        <div class="right-team-9">
                                <div class="buttons-teams">
                                        <a href="#team"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        <a href="#team"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                        <a href="#team"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                        <a href="#team"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                    </div>
                            <h6><a href="team-single" class="title-team-32">DJ Chris Jessey</a></h6>
                            <p class="sm-text-32">Classic Singer</p>
                           
                        </div>
                    </div>
                    <div class="team-main-19">
                        <div class="column-19">
                            <a href="team-single"><img class="img-responsive" src="static/assets/images/te2.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                                <div class="buttons-teams">
                                    <a href="#team"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                    </div>
                            <h6><a href="team-single" class="title-team-32">DJ Martin Crow</a></h6>
                            <p class="sm-text-32">Rock Singer</p>
                            
                        </div>
                    </div>
                    <div class="team-main-19">
                        <div class="column-19">
                            <a href="team-single"><img class="img-responsive" src="static/assets/images/te3.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                                <div class="buttons-teams">
                                    <a href="#team"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                    </div>
                            <h6><a href="team-single" class="title-team-32">DJ Chris Carins</a></h6>
                            <p class="sm-text-32">Classic Singer</p>
                           
                        </div>
                    </div>
                    <div class="team-main-19">
                        <div class="column-19">
                            <a href="team-single"><img class="img-responsive" src="static/assets/images/te4.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                                <div class="buttons-teams">
                                    <a href="#team"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                    <a href="#team"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                    </div>
                            <h6><a href="team-single" class="title-team-32">DJ Jessey Rider</a></h6>
                            <p class="sm-text-32">Rock Singer </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- teams-32-main -->

 
 <!-- grids block 5 -->

{% endblock %}