{% extends 'bash.html' %}
{% block main %}


    <script src="static/assets/js/jquery-3.3.1.min.js"></script>
    <script>
        $('#drop').change(function () {
        if ($('#drop').is(":checked")) {
        $('body').css('overflow', 'hidden');
        } else {
        $('body').css('overflow', 'auto');
        }
        });
        </script>
</section>
<!-- Headers-4 block -->
<!---728x90--->

<!-- contacts -->
<section class="w3l-contacts-9-main" id="contact">
        <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235014.29918790405!2d72.41493012913726!3d23.020158084541748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1750099679224!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
		<!---728x90--->

    <div class="contacts-9">
        <div class="wrapper">
                <div class="top-map">
                <div class="cont-details">
                    <h4>Conatct Us For Info</h4>
                      <div class="cont-top">
                          <div class="cont-left">
                              <span class="fa fa-phone"></span>
                          </div>
                          <div class="cont-right">
                              <h6>Phone Us</h6>
                              <p><a href="tel:+91 9974408826">+91 9974408826</a></p>
                              
                        </div>
                      </div>
                      <div class="cont-top">
                            <div class="cont-left">
                                <span class="fa fa-clock-o"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Email Us</h6>
                                
                                <p><a href="" class="mail"><span class="__cf_email__" data-cfemail="mayurbaviskar309@gmail.com">mayurbaviskar309@gmail.com</span></a></p>
                          </div>
                        </div>
                        <div class="cont-top">
                                <div class="cont-left">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="cont-right">
                                   <h6>Address</h6>
                                    <p>Ahmedabad, Gujarat, India.</p>
                              </div>
                            </div>
                    </div>
                    <div class="map-content-9">
    <form action="/insertcontact" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="twice-two">
            <input type="text" name="Name" id="w3lName" placeholder="Name" required="">
            <input type="email" name="email" id="w3lSender" placeholder="Email" required="">
        </div>
        <div class="twice">
            <input type="tel" name="phn" id="w3lPhone" placeholder="Phone Number" required="">
        </div>
        <div class="twice">
            <input type="text" name="sub" id="w3lSubject" placeholder="Subject" required="">
        </div>

        <textarea name="mess" id="w3lMessage" placeholder="Message" required=""></textarea>
        <button type="submit">Send Message</button>
    </form>
</div>

            </div>
        </div>
    </div>
</section>
<!-- //contacts -->
<!---728x90--->

 
 <!-- grids block 5 -->
{% endblock %}



