{% extends 'bash.html' %}
{% block main %}



    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script>
        $('#drop').change(function () {
        if ($('#drop').is(":checked")) {
        $('body').css('overflow', 'hidden');
        } else {
        $('body').css('overflow', 'auto');
        }
        });
        </script>
</section>
<!-- Headers-4 block -->

<!-- covers -->
<section class="w3l-covers-9-main">
    <div class="covers-9">
        <div class="csslider infinity" id="slider1">
            <input type="radio" name="slides" checked="checked" id="slides_1" />
            <input type="radio" name="slides" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />
            <input type="radio" name="slides" id="slides_4" />
            <ul class="banner_slide_bg">
                <li>
                    <div class="wrapper">
                        <div class="cover-top-center-9">
                            <div class="w3ls_cover_txt-9">
                                <h6 class="tag-cover-9"> Entertainment Show</h6>
                                <h3 class="title-cover-9">We Know How To Have Fun</h3>
                                <p class="para-cover-9">Once aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur consectetur adipiscing elit eu fugiat nulla laudantium sunt in culpa qui.</p>
                                    <a href="events" class="actionbg button-cover-9">All events</a>
                                    <a href="#booking" class="actionbg-border button-cover-9">Book a table</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrapper">
                        <div class="cover-top-center-9">
                            <div class="w3ls_cover_txt-9">
                                <h6 class="tag-cover-9"> Entertainment Show</h6>
                                <h3 class="title-cover-9">We Can Dance Forever</h3>
                                <p class="para-cover-9">Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia sed deserunt mollit anim id est laborum mollit anim id est nulla laudantium sunt in culpa qui.</p>
                                    <a href="events" class="actionbg button-cover-9">All events</a>
                                    <a href="#booking" class="actionbg-border button-cover-9">Book a table</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrapper">
                        <div class="cover-top-center-9">
                            <div class="w3ls_cover_txt-9">
                                <h6 class="tag-cover-9"> Entertainment Show</h6>
                                <h3 class="title-cover-9">Big City Lights Party</h3>
                                <p class="para-cover-9">Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem accus antium dolor emque laudantium sunt in culpa qui laborum eu fugiat nulla laudantium sunt in culpa qui.</p>
                                    <a href="events" class="actionbg button-cover-9">All events</a>
                                    <a href="#booking" class="actionbg-border button-cover-9">Book a table</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrapper">
                        <div class="cover-top-center-9">
                            <div class="w3ls_cover_txt-9">
                                <h6 class="tag-cover-9"> Entertainment Show</h6>
                                <h3 class="title-cover-9">Cocktail Long Night Party</h3>
                                <p class="para-cover-9">Once aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur consectetur adipiscing elit eu fugiat nulla laudantium sunt in culpa qui.</p>
                                    <a href="events" class="actionbg button-cover-9">All events</a>
                                    <a href="#booking" class="actionbg-border button-cover-9">Book a table</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="arrows">
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
            </div>
            <div class="navigation">
                <div>
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                    <label for="slides_4"></label>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //covers -->
<!---728x90--->

<!-- content-11 -->
<section class="w3l-content-11-main">
        <div class="content-design-11">
            <div class="wrapper">
                    <div class="section-title align-center text-center">
                            <h3>Club Life</h3>
                               <h4>Our Services</h4>
                               <p class="sub-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio aspernatur fugiat minima blanditiis dignissimos.</p>
                           </div>
                <div class="content-sec-11 column content-text">
                    <div class="columns">
                        <div class="icon-eff">
                            <span class="fa fa-cutlery" aria-hidden="true"></span>
                        </div>
                        <div class="right-side">
                            <h4><a href="services">CORPORATE EVENTS</a></h4>
                            <p> Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus.</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="icon-eff">
                            <span class="fa fa-glass" aria-hidden="true"></span>
                        </div>
                        <div class="right-side">
                            <h4><a href="services">BRANDED EVENTS</a></h4>
                            <p> Fusce faucibus ante vitae justo efficitur elementum. Donec sed faucibus.</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="icon-eff">
                            <span class="fa fa-picture-o" aria-hidden="true"></span>
                        </div>
                        <div class="right-side">
                            <h4><a href="services">COMMERCIAL SHOOTS</a></h4>
                            <p> Suspendisse condimentum eget ligula a posuere. Duis ipsum et gravida.</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="icon-eff">
                            <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                        </div>
                        <div class="right-side">
                            <h4><a href="services">HAN PARTIES</a></h4>
                            <p> Suspendisse condimentum eget ligula a posuere. Duis ipsum etarcu dffdut.
                            </p>
                        </div>
                    </div>
<!--                    <div class="columns">-->
<!--                        <div class="icon-eff">-->
<!--                            <span class="fa fa-birthday-cake" aria-hidden="true"></span>-->
<!--                        </div>-->
<!--                        <div class="right-side">-->
<!--                            <h4><a href="services">BIRTHDAY PARTIES</a></h4>-->
<!--                            <p> Suspendisse condimentum eget ligula a posuere. Duis ipsum et rcu fdsut.</p>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="columns">
                        <div class="icon-eff">
                            <span class="fa fa-handshake-o" aria-hidden="true"></span>
                        </div>
                        <div class="right-side">
                            <h4><a href="services"> VIP SERVICE</a></h4>
                            <p> Fusce faucibus ante vitae justo efficitur elementum. Donec sed faucibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- //content-11 -->
<!---728x90--->

<section class="form-16" id="booking">
        <!-- /form-16-section -->
          <div class="form-16-mian">
             <div class="wrapper">
                    <div class="section-title align-center text-center">
                           <h3>Reservation</h3>
                            <h4>Booking a Table</h4>
                            <p class="sub-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio aspernatur fugiat minima blanditiis dignissimos.</p>
                        </div>
               <div class="forms-16-top">
                     
                     <div class="form-right-inf"> 
                         <div class="form-inner-cont">
                           
                             <form action="#" method="post" class="signin-form">	
                                 <div  class="d-grid book-form">
                                     <div  class="form-input">
                                         <input type="text" name="" placeholder="Your Name" required />
                                     </div>
                                     <div  class="form-input">
                                         <input type="email" name="" placeholder="Email Address" required />
                                     </div>
                                     <div  class="form-input">
                                            <input type="text" name="" placeholder="Contact Number" required />
                                        </div>
                                        <div  class="form-input">
                                                <input type="text" name="" placeholder="Event" required />
                                            </div>
                                     <div  class="form-input">
                                         <input type="number" name="" placeholder="Number of People" required />
                                     </div>
                                     <div  class="form-input">
                                            <input type="date" name="" placeholder="Date" required />
                                     </div> 
                                 </div>
                                 <div  class="form-input">
                                 <textarea name="w3lMessage" placeholder="Comment" required=""></textarea>
                                </div>
                                 <button class="btn">Book Now</button>
                                 
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             </div>
         </section>
       <!-- //form-16-section -->
<section class="w3l-price-2">
    <div class="price-main">
      <div class="wrapper">
            <div class="section-title align-center text-center">
                    <h3>Events</h3>
                       <h4>Up Coming Events</h4>
                       <p class="sub-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio aspernatur fugiat minima blanditiis dignissimos.</p>
                   </div>
            <div class="pricing-style-w3ls">
              <div class="pricing-chart">
                        <div class="price-box btn-layout bt6">
                            {% for event in eventdata %}
                            <div class="grid grid-column-2">
                                    <div class="column2">
                                            <img src="{{event.E_IMAGE.url}}" alt="" class="img-responsive">
                                        </div>
                                <div class="column1">

                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="events">RS.{{ event.E_PRICE }}</a></h6>
                                         <h5>{{ event.E_DATE }}</h5>
                                        <p>{{ event.E_DESCRIPTION }}</p>

                                    </div>
                                </div>

                                <div class="column3 text-right">
                                    <a href="events" class="actionbg">Read More</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- customers-8 -->
<section class="customers-8">
        <div class="customers-main">
            <div class="wrapper">
                    <div class="section-title align-center text-center">
                            <h3>Testimonials</h3>
                            <h4>Clubbers Feedback</h4>
                            <p class="sub-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio aspernatur fugiat minima blanditiis dignissimos.</p>
                        </div>
                <div class="customer">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="static/assets/images/ts2.jpg" alt="">
                        <div class="card-body">
                            <p class="card-text">Once aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                 eu fugiat nulla pariatur elit. Fusce rutrum quam a rhoncus.
                                  Nulla eu ipsum et.</p>
                                  <a href="#link" class="customer-link">
                                      <h3 class="card-title">Johnson Smith</h3>
                                  </a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="static/assets/images/ts3.jpg" alt="">
                        <div class="card-body">
                            <p class="card-text">Once aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla pariatur elit. Fusce rutrum quam a rhoncus.
                                Nulla eu ipsum et.</p>
                                <a href="#link" class="customer-link">
                                    <h3 class="card-title">Elizabeth Ker</h3>
                                </a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="static/assets/images/ts4.jpg" alt="">
                        <div class="card-body">
                            <p class="card-text">Once aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                 eu fugiat nulla pariatur elit. Fusce rutrum quam a rhoncus.
                                  Nulla eu ipsum et.</p>
                                  <a href="#link" class="customer-link">
                                      <h3 class="card-title">Laura Sten</h3>
                                  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- //customers-8 -->
<div class="grids-block-5" id="blog">
        <!-- grids block 5 -->
        <section id="grids5-block">
           <div class="wrapper">
                   <h5 class="heading"></h5>
                   <h3 class="heading"></h3>
                   <div class="section-title align-center text-center">
                        <h3>Our blog</h3>
                        <h4>Latest news</h4>
                        <p class="sub-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio aspernatur fugiat minima blanditiis dignissimos.</p>
                    </div>
                   <div class="d-grid">
                       <div class="grids5-info">
                           <a href="blog-single"><img src="static/assets/images/e5.jpg" alt="" /></a>
                           <div class="blog-info">
                               <h4><a href="blog-single">Best Parties Ever</a></h4>
                               <p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est et vitae nulla empus est suscipit et dolor amet.</p>
                               <ul class="blog-list">
                                   <li><p><span class="fa fa-clock-o"></span> Sep 2019</p></li>
                                   <li><p><span class="fa fa-heart-o"></span> <strong>20</strong> likes</p></li>
                                   <li><p><span class="fa fa-comments-o"></span> <strong>2</strong> comments</p></li>
                               </ul>
                           </div>
                       </div>
                       <div class="grids5-info">
                           <a href="blog-single"><img src="static/assets/images/e6.jpg" alt="" /></a>
                           <div class="blog-info">
                               <h4><a href="blog-single">Music is Our Passion</a></h4>
                               <p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est et vitae nulla empus est suscipit et dolor amet.</p>
                               <ul class="blog-list">
                                   <li><p><span class="fa fa-clock-o"></span> Sep 2019</p></li>
                                   <li><p><span class="fa fa-heart-o"></span> <strong>20</strong> likes</p></li>
                                   <li><p><span class="fa fa-comments-o"></span> <strong>2</strong> comments</p></li>
                               </ul>
                           </div>
                       </div>
                       <div class="grids5-info">
                           <a href="blog-single"><img src="static/assets/images/e7.jpg" alt="" /></a>
                           <div class="blog-info">
                               <h4><a href="blog-single">Freedom Sundays</a></h4>
                               <p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est et vitae nulla empus est suscipit et dolor amet.</p>
                               <ul class="blog-list">
                                   <li><p><span class="fa fa-clock-o"></span> Sep 2019</p></li>
                                   <li><p><span class="fa fa-heart-o"></span> <strong>20</strong> likes</p></li>
                                   <li><p><span class="fa fa-comments-o"></span> <strong>2</strong> comments</p></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                </div>
                </section>
           </div>
       <!-- // grids block 5 -->
<!-- forms -->

<!-- //forms -->

{% endblock %}




