{% extends 'bash.html' %}
{% block main %}


    <script src="static/assets/js/jquery-3.3.1.min.js"></script>
    <script>
        $('#drop').change(function () {
        if ($('#drop').is(":checked")) {
        $('body').css('overflow', 'hidden');
        } else {
        $('body').css('overflow', 'auto');
        }
        });
        </script>
</section>
<!-- Headers-4 block -->
<!-- inner banner -->
<section class="w3l-inner-banner-main">
    <div class="about-inner">
        <div class="wrapper">
            
            <ul class="breadcrumbs-custom-path">
                <h3>Services</h3>
                <li><a href="index">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->
<!---728x90--->

<section class="w3l-features-8">
       <!-- /features -->
           <div class="features">
		      <div class="wrapper">	
			   <div class="fea-gd-vv">	
					<div class="float-top">	
							<a href="gallery-single"><img src="assets/images/e1.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="gallery-single">Spring Break</a> </h3>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
									</div>
					</div>
					<div class="float-top">	
							<a href="gallery-single"><img src="static/assets/images/e2.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="gallery-single">Cocktail Party</a> </h3>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
									</div>
						</div>
						<div class="float-top">	
								<a href="gallery-single"><img src="static/assets/images/e3.jpg" class="img-responsive" alt=""></a>
								<div class="float-lt feature-gd">	
										<h3><a href="gallery-single">Meet&Greet</a> </h3>
											<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
										</div>	
						</div>
						<div class="float-top">	
								<a href="gallery-single"><img src="static/assets/images/e4.jpg" class="img-responsive" alt=""></a>
								<div class="float-lt feature-gd">	
										<h3><a href="gallery-single">Best Go-Go</a> </h3>
											<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
										</div>
							</div>
							<div class="float-top">	
									<a href="gallery-single"><img src="static/assets/images/e5.jpg" class="img-responsive" alt=""></a>
									<div class="float-lt feature-gd">	
											<h3><a href="gallery-single">Drop the Beat</a> </h3>
												<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
											</div>
								</div>
								<div class="float-top">	
										<a href="gallery-single"><img src="static/assets/images/e6.jpg" class="img-responsive" alt=""></a>
										<div class="float-lt feature-gd">	
												<h3><a href="gallery-single">DJ Battle</a> </h3>
													<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
												</div>
									</div>
<!---728x90--->
									
									<div class="float-top">	
										<a href="gallery-single"><img src="static/assets/images/e7.jpg" class="img-responsive" alt=""></a>
										<div class="float-lt feature-gd">	
												<h3><a href="gallery-single">Catch the Rhythm</a> </h3>
													<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
												</div>
									</div>	
									<div class="float-top">	
										<a href="gallery-single"><img src="static/assets/images/e8.jpg" class="img-responsive" alt=""></a>
										<div class="float-lt feature-gd">	
												<h3><a href="gallery-single">Chillout Gathering</a> </h3>
													<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
												</div>
									</div>	
									<div class="float-top">	
										<a href="gallery-single"><img src="static/assets/images/e9.jpg" class="img-responsive" alt=""></a>
										<div class="float-lt feature-gd">	
											<h3><a href="gallery-single">Slumberparty</a> </h3>
												<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et. </p>
											</div>
											
									</div>		 				 
		     	</div>  
		    </div>
          </div>
      <!-- //features -->
</section>

 <!---728x90--->

 <!-- grids block 5 -->
 {% endblock %}